.rssbacgr {
    background: rgb(76, 196, 140);
    color: aliceblue;
}

.valundef {
    background-color: yellow;
}

/* .ant-table-tbody {
    background-color:aqua;
    background: yellow;
    color:red;
} */